<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/style.css">
    <title>Socket.io Tutorial</title>
</head>
<body>
<div>
    <form method="get">
        <label for="username">Username: </label>
        <input type="text" id="username" name="username">
        <label for="chatroom">Select a room:</label>
        <select name="room" id="chatroom">
            <option value="Japan">Japan</option>
            <option value="America">America</option>
            <option value="Korea">Korea</option>
            <option value="Vietnam">Vietnam</option>
        </select>
        <button id="sendMessage">Join Room</button>
    </form>
</div>

</body>
</html>

